* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* aside section */
#form-heading {
    margin-top: 1rem;
    padding: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input {
    width: 100% !important;
    border-bottom: 1px solid black !important;
    height: 3rem !important;
}

.search-button {
    width: 100%;
    margin-top: 1rem;
}

.cityBtn {
    margin-bottom: 0.9rem;
}

/* today section */
.container-fluid h2 {
    font-weight: bold;
}

/* forecast section */
.weather-card {
    background-color: rgb(73, 76, 123);
    color: white;
    margin: 10px;
}

.weather-card h5 {
    font-weight: bold;
    margin-top: 15px;
}